@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.header{

}

.product{
  
}
.login-form{
  text-align: center;
  width: 50%;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;

}


